.to-do-list_header {
  text-align: center;
}
.initial_todo_list {
  align-items: center;
  justify-content: center;
  display: flex;
}
.add_button {
  margin-right: 5px;
}
.input_item {
  margin-right: 5px;
}

#table_list{
  width: 500px;
  border-radius: 15px;
  border: 1px solid #000;
  
}

#theader{
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  width:fit-content;
}

.list_header{
  padding-left: 25px;
  padding-right: 25px;
}


#item_in_list{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  width: fit-content;
}
