.to-do-list_header {
  text-align: center;
}
.initial_todo_list {
  align-items: center;
  justify-content: center;
  display: flex;
}
.add_button {
  margin-right: 5px;
}
.input_item {
  margin-right: 5px;
}

#parent_container {
  display: flex;
}
#todo_list {
  flex: 1;
  margin-left: 278px;
}

#todo_list_date {
  flex: 1;
  margin-right: 171px;
}
